.dropbtn {
    background-color: #000;
    color: white;
    padding: 16px;
    font-size: 20px;
    font-family: "Anta", sans-serif;
    border: none;
}

.dropdown {
    position: absolute;
    display: inline-block;
    left: 15px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-family: "Anta", sans-serif;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: white; color: black;}


.topnav {
    background: #000;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

.topnav nav {
    display: flex;
    align-items: center;
}

.logo {
    color: lightgray;
    font-size: 40px;
    font-family: 'MedievalSharp';
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
}

.navsite {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navsite:hover {
    background-color: #ddd;
    color: black;
}

.loginregister:hover {
    background-color: #ddd;
    color: black;
}

.loginregisterdiv {
    position: absolute;
    right: 10px;
}

.loginregister {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    display: flex;
    justify-content: center;
    background-image: url("https://wallpapers-hub.art/wallpaper-images/167881.jpg");
    margin: 0;
    width: 1920px;
    height: 850px;
}

.main-container {
    margin: 10px;
    padding: 20px;
    border: 5px solid #ddd;
    background-color: white;
    width: 700px;
    height: 750px;
}
.filter-container {
    margin: 10px;
    padding: 20px;
    border: 5px solid #ddd;
    height: 750px;
    width: 200px;
    background-color: white;
    font-family: "Anta", sans-serif;
    font-size: 20px;
}
.images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column {
    flex-basis: calc(33.33% - 20px);
    margin-top: 50px;
    position: relative;
}

.column img {
    width: 100%;
}

.gametitle {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    font-weight: bold;
}

.gamedetails {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
}

.filterapply{
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-family: "Anta", sans-serif;
    border-radius: 12px;
    margin-top: 30px;
    margin-left: 20px;
}
.filterprice{
    font-family: "Anta", sans-serif;
    width: 70px;
    height: 40px;
    margin-top: 10px;
    font-size: 15px;

}
.filtercategory{
    font-family: "Anta", sans-serif;
    width: 200px;
    height: 50px;
    font-size: 20px;
}

.filter-container h2 {
    text-align: center;
}

.filter-container ul {
    list-style-type: none;
    padding: 0;
}

.filter-container ul li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

body {
    margin: 0;
    overflow-x: hidden;
}

.footer {
    background: #000;
    padding: 30px 0px;
    font-family: 'Play', sans-serif;
    text-align: center;
}

.footer .row {
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: rgb(128, 128, 128);
    font-size: 0.8em;
}

.footer .row a {
    text-decoration: none;
    color: rgb(128, 128, 128);
    transition: 0.5s;
}

.footer .row a:hover {
    color: #fff;
}

.footer .row ul {
    width: 100%;
}

.footer .row ul li {
    display: inline-block;
    margin: 0px 30px;
}

.footer .row a i {
    font-size: 2em;
    margin: 0% 1%;
}

@media (max-width: 720px) {
    .footer {
        text-align: left;
        padding: 5%;
    }

    .footer .row ul li {
        display: block;
        margin: 10px 0px;
        text-align: left;
    }

    .footer .row a i {
        margin: 0% 3%;
    }
}

.addgameform{
    background-color: white;
    height: 700px;
    width: 800px;
    margin: 20px;
    border-color: lightgray;
    border-width: 5px;
    border-style: solid;
}


.form-group{
    margin: 25px;
}
.addgamebutton{
    right: 920px;
    bottom: 170px;
    position: absolute;
}

.deletegameform{
    position: absolute;
    bottom: 700px;

}

.deleteselect{
    width: 350px;
    height: 60px;
    font-size: 20px;
    font-family: "Anta", sans-serif;
}
.deletegamebutton{
    width: 100px;
    height: 30px;
    font-size: 15px;
    font-family: "Anta", sans-serif;
}

.pagination {
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 57%;
    transform: translateX(-50%);
    bottom: 40px;
    width: 250px;
}

.pagination > div {
    display: inline-block;
}

.pagination a {
    text-decoration: none;
    color: black;
    margin-right: 30px;
    font-family: "Anta", sans-serif;
}

.pagination a:last-child {
    margin-right: 0;
}

.editgameform{
    background-color: white;
    border-style: solid;
    border-width: 5px;
    border-color: lightgray;
    width: 1000px;
    height: 700px;
    margin: 50px;
    padding: 20px;

}

.editgamechoose{
    position:relative;
    left:600px;
    bottom:650px;
}

.editselect{
    width: 350px;
    height: 50px;
    font-family: "Anta", sans-serif;
    font-size: 15px;
}

.form-group{
    font-family: "Anta", sans-serif;
    font-size: 25px;
}
.form-control{
    width: 300px;
    height: 40px;
    font-size: 18px;
}
.editgamebutton{
    width: 150px;
    height: 30px;
    position: absolute;
    bottom: 70px;
    left: 500px;

}

.detailscontainer {
    background-color: white;
    border-color: lightgray;
    border-width: 5px;
    border-style: solid;
    height: auto;
    width: 1000px;
    margin: 50px;

}
.detailsplatform{
    font-size: 30px;
}
.detailstitle{
    font-family: "Anta", sans-serif;
    border-bottom: 5px solid black;
    margin-left: 300px;
    width: 400px;
    text-align: center;
}

.detailsimage{
    margin-top: 30px;
    margin-left: 100px;
    display: flex;
}

.detailsbuy{
    margin-top: 30px;
    font-family: "Anta", sans-serif;
    font-size: 50px;
    margin-left: 180px;
}

.detailsaddtocart{
    margin-left: 0px;
    width: 200px;
    height: 75px;
    font-family: "Anta", sans-serif;
    font-size: 30px;
    border-radius: 12px;
}

.detailsdescription{
    text-align: center;
    margin-top: 100px;
    font-size: 20px;

}

.detailsquantity{
    height: 40px;
    width: 40px;
    font-size: 40px;
}
.quantity-controls {
    display: flex;
    align-items: center;
}

.quantity-plus {
    margin-left: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1em;
}
.quantity-minus {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1em;
}

.quantity-minus:hover,
.quantity-plus:hover {
    color: blue;
}

