<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new game</title>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=MedievalSharp' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anta&display=swap" rel="stylesheet">
</head>
<body>
<div class="topnav">
    <nav>
        <div class="dropdown">
            <button class="dropbtn">Admin</button>
            <div class="dropdown-content">
                <a th:href="@{/games/new}">Add game</a>
                <a href="#">Update game</a>
                <a th:href="@{/games/delete}">Delete game</a>
            </div>
        </div>
        <a class="navsite">PLAYSTATION</a>
        <a class="navsite">PC</a>
        <a class="logo" th:href="@{/games}">Playtopia</a>
        <a class="navsite">XBOX</a>
        <a class="navsite">NINTENDO</a>
        <div class="loginregisterdiv">
            <a class="loginregister">LOGIN</a>
            <a class="loginregister">REGISTER</a>
        </div>
    </nav>
</div>
<div class="container">
    <div class="deletegameform">
        <form role="form" method="post" th:action="@{/games/delete}">
            <select class="deleteselect" name="gameId">
                <option th:each="game : ${gamesList}" th:value="${game.id}" th:text="${game.title + ' - ' + game.platform}"></option>
            </select>
            <button type="submit" class="deletegamebutton">Delete</button>
        </form>
    </div>
</div>
<footer>
    <div class="footer">
        <div class="row">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
        </div>

        <div class="row">
            <ul>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Our Services</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Career</a></li>
            </ul>
        </div>

        <div class="row">
            Playtopia Copyright © 2024
        </div>
    </div>
</footer>

</body>
</html>