<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Games list</title>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=MedievalSharp' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anta&display=swap" rel="stylesheet">
</head>

<body>
<div class="topnav" th:insert="~{layout :: navbar}"></div>
<div class="container">
    <div class="filter-container">
        <h2>Filter by</h2>
        <form method="get" action="/games/filter">
            <h3>Console</h3>
            <input type="radio" id="ps4" name="console" value="PS4">
            <label for="ps4">PS4</label><br>
            <input type="radio" id="ps5" name="console" value="PS5">
            <label for="ps5">PS5</label><br>
            <input type="radio" id="xboxOne" name="console" value="XBOX ONE">
            <label for="xboxOne">Xbox One</label><br>
            <input type="radio" id="xboxSeriesX" name="console" value="XBOX SERIES X">
            <label for="xboxSeriesX">Xbox Series X</label><br>
            <input type="radio" id="nintendoSwitch" name="console" value="Switch">
            <label for="nintendoSwitch">Nintendo Switch</label><br>
            <input type="radio" id="pc" name="console" value="PC">
            <label for="pc">PC</label><br>
            <input type="radio" id="allConsoles" name="console" value="" checked="checked">
            <label for="allConsoles">All</label><br>
            <h3>Price Range</h3>
            <input class="filterprice" type="text" id="min" name="min" placeholder="From" value="1.00">
            <input class="filterprice" type="text" id="max" name="max" placeholder="To" value="1000.00">

            <h3>Category</h3>
            <select class="filtercategory" name="category">
                <option value="" selected="selected">All</option>
                <option value="Action-Adventure" >Action-Adventure</option>
                <option value="Action">Action</option>
                <option value="Adventure">Adventure</option>
                <option value="RPG">RPG</option>
                <option value="Shooter">FPS</option>
                <option value="Sports">Sports</option>
                <option value="Strategy">Strategy</option>
                <option value="MOBA">MOBA</option>
                <option value="Party">Party</option>
            </select>

            <button class="filterbutton" type="submit">Search</button>
        </form>
    </div>
    <div class="main-container">
        <div class="images-container">
            <div class="column" th:each="game: ${gamesPage.content}">
                <div class="image-container">
                    <img th:src="${game.photoUrl}" alt="..." width="100" height="250" />
                    <div class="button-container">
                        <div>
                            <form action="/add-game-to-cart" method="post" >
                                <input type="hidden" name="game_id" th:value="${game.id}" />
                                <button type="submit" class="addtocart">Add to cart</button>
                            </form>
                            <a class="gamedetails" th:href="@{'/games/'+ ${game.id} }">Details</a>
                        </div>
                    </div>
                </div>
                <p class="gametitle" th:text="${game.title}"></p>
            </div>
        </div>
        <div class="pagination">
            <div th:class="${gamesPage.first} ? 'pagination-item disabled' : 'pagination-item'">
                <a th:if="${gamesPage.hasPrevious()}" th:href="@{/games(page=${gamesPage.number - 1})}" class="pagination-link">
                    <i class="fa fa-chevron-left"></i> Previous
                </a>
            </div>
            <div th:class="${gamesPage.last} ? 'pagination-item disabled' : 'pagination-item'">
                <a th:if="${gamesPage.hasNext()}" th:href="@{/games(page=${gamesPage.number + 1})}" class="pagination-link">
                    Next <i class="fa fa-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<footer th:insert="~{layout :: footer}"></footer>

</body>

</html>
