<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile Details</title>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=MedievalSharp' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anta&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
<div class="topnav" th:insert="~{layout :: navbar}"></div>
<div class="container">
    <div class="basket-container" th:classappend="${order == null} ? 'empty-basket-container' : ''">
        <h1>Basket</h1>
        <div th:each="game: ${basketContent}">
            <div class="game-item">
                <img th:src="${game.photoUrl}" alt="Game Image" th:width="75px" th:height="95px">
                <p class="basket-game-title" th:text="${game.title} "></p>
                <p class="basket-game-platform" th:text="'Platform: '+${game.platform} "></p>
                <p class="basket-game-price" th:text="${game.price}+' USD'"></p>
                <form action="/delete-game-from-basket" method="post">
                    <input type="hidden" name="game_id" th:value="${game.id}" />
                    <input type="hidden" name="order_id" th:if="${order != null}" th:value="${order.id}" />
                    <button type="submit" class="deletefromcart"><span class="fa fa-trash"></span>
                    </button>
                </form>
            </div>
        </div>
        <div class="empty-basket" th:if="${order==null}">
            <h2>Your basket is empty. Please add games first.</h2>
            <a th:href="@{/games}">Go back</a>
        </div>
        <div class="total-price">
            <p th:if="${order != null}" th:text="|Total price:  ${orderPrice} USD|">Total Price:</p>
            <form th:if="${order != null}" action="/confirm-order" method="post">
                <input type="hidden" name="order_id" th:value="${order.id}" />
                <button type="submit" class="confirm-order">Confirm Order</button>
            </form>
        </div>
    </div>
</div>
<footer th:insert="~{layout :: footer}"></footer>
</body>
</html>
